body {
  margin: 0;
}
header{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  header ul{
    margin: 0;
  }
  header ul li {
    display: inline-block;
    padding: 0 20px;
  }
  header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
  }
  .top{
    font-size: 30px;
    background-image: url(背景.jpeg);
    background-size: cover;
    padding:  0;
  }
  .Introduction{
    background-color: #F6F6F6;
      padding: 100px;
  }
  h2{
    margin: 0;
  }
  .内容 img{
    width: 400px;
    height: 500px;
  }
  .内容{
    display: flex;
  }
  .内容1{
    line-height: 5em;
  }
  .内容1 {
    position: relative;
    left: 350px;
    top: 0px;
    font-size: 20px;
  }
  .title1{
    font-size: 30px;
  }
  .title2{
    font-size: 30px;
  }
  .Skills{
    background-color: #7BC3D1;
    padding: 100px;
  }
  .box{
    display: inline-block;
      padding: 20px;
      margin: 20px;
      width: 15%;
      font-size: 30px;
  }
  .Portfolio{
    background-color: #F6F6F6;
    padding: 100px;
  }
  .Portfolio video{
    width: 400px;
    height: 500px;
  }
  .Portfolio video {
    position: relative;
    left: 50px;
    top: 1px;
  }
  .作品紹介1{
    display: flex;
  }
  .紹介文1{
    position: relative;
    left: 130px;
    top: 140px;
    font-size: 30px;
  }
  .動画1{
    font-size: 30px;
  }
  .作品紹介2{
    display: flex;
  }
  .動画2{
    font-size: 30px;
  }
  .紹介文2{
    position: relative;
    left: 250px;
    top: 20px;
    font-size: 25px;
  }
  .Portfolio{
    font-size: 30px;
  }
  .来年度への抱負{
    position: relative;
    left: -20px;
    top: 60px;
  }
  footer{
    background-color: #333333;
    color: #FFFFFF;
    padding: 17px;
  }
