header{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  header ul{
    margin: 0;
  }
  header ul li {
    display: inline-block;
    padding: 0 20px;
  }
  header ul li a {
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
  }
  .内容 img{
    width: 400px;
    height: 500px;
  }
  .内容{
    display: flex;
  }
  .内容1{
    line-height: 5em;
  }
  .内容1 {
    position: relative;
    left: 350px;
    top: 50px;
  }
  .box{
    display: inline-block;
      padding: 20px;
      margin: 20px;
      width: 15%;
  }
  .Portfolio video{
    width: 400px;
    height: 500px;
  }
  .Portfolio video {
    position: relative;
    left: 50px;
    top: 1px;
  }
  .作品紹介1{
    display: flex;
  }
  .紹介文1{
    position: relative;
    left: 250px;
    top: 170px;
    font-size: 30px;
  }
  .動画1{
    font-size: 30px;
  }
  .作品紹介2{
    display: flex;
  }
  .動画2{
    font-size: 30px;
  }
  .紹介文2{
    position: relative;
    left: 250px;
    top: 70px;
    font-size: 30px;
  }
  footer{
    background-color: #333333;
    color: #FFFFFF;
    padding: 17px;
  }
